<style>
#PickShablons {
    position: fixed;
    z-index:10;
    text-align: left;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    padding: 10px 20px 10px 6px;
    background: #333;
    transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
    transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
}
#PickShablons:after {
    content: '';
    background: #333 url('{{ data.plugin_path }}/template/icon.png') no-repeat center;;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -30px;
    top: 40px;
    cursor: pointer;
}
#PickShablons:hover {
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
#PickShablons ul {color: #aaa;}
#PickShablons ul li a {
    display: block;
    padding: 5px;
    padding-left: 30px;
    margin-left: -30px;
}
#PickShablons ul li a:hover {background: #464646;}
#PickShablons ul li.active a {background: #252525;}
</style>

<div id="PickShablons">
    <ul>
    {% for tmp in data.tmp_list %}
        <li class="{{ tmp.active }}"><a href="{{ tmp.url }}">{{ tmp.name }}</a></li>
    {% endfor %}
    </ul>
</div>